.footer {
  @include width();
  position: relative;
  padding: 2rem 0;

  a {
    display: inline-block;
  }

  .links {
    margin-bottom: 1rem;
    
    a {
      color: currentColor;

      &:hover {
        color: cornflowerblue;
      }
    }
  }
  

  .dev {
    text-align: center;

    a {
      position: relative;
      width: 2rem;
      height: 2rem;
      border-radius: 50%;
      background-color: cornflowerblue;
      background: url(../u/J.webp);
      background-size: cover;

      &:hover {
        
        &::before {
          content: '';
          position: absolute;
          top: -1px;
          left: -1px;
          bottom: 0;
          width: calc(2rem + 2px);
          height: calc(2rem + 2px);
          border-radius: 50%;
          box-shadow: 0px 0px 6px 1px #fff;
          animation: 1s alternate infinite dev;
        }
      }
    }
  }
}

@keyframes dev {
  0% {
    box-shadow: 0px 0px 6px 1px #fff;
    // filter: hue-rotate(0deg);
  }
  100% {
    box-shadow: 0px 0px 16px 1px #fff;
    // filter: hue-rotate(360deg);
  }
}