$main-0: hsla(0, 0, 2%, 1);
$main-1: hsla(0, 0, 12%, 1);
$main-2: hsla(0, 0, 22%, 1);
$main-3: hsla(0, 0, 32%, 1);
$main-4: hsla(0, 0, 42%, 1);
$main-5: hsla(0, 0, 52%, 1);
$main-6: hsla(0, 0, 62%, 1);
$main-7: hsla(0, 0, 72%, 1);
$main-8: hsla(0, 0, 82%, 1);
$main-9: hsla(0, 0, 92%, 1);

$acc: hsla(144, 73%, 36%, 1);
$danger: hsla(354, 73%, 36%, 1);
$info: hsla(214, 73%, 36%, 1);

$box-shadow:  6px 0 16px 0 rgba(0, 0, 0, .07),
              -6px 0 16px 0 rgba(0, 0, 0, .07),
              0 0 16px 0 rgba(0, 0, 0, .07);
$border: 1px solid $main-8;

$width: 1440px;

$bh: 2px dashed orangered;